{% load static %}

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/tinymce.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <img class="navbar-brand" src="{% static 'images/iitbblack.jpg' %}" alt="logo" style="width:55px;height:60px;">
    <a class="navbar-brand" href="{% url 'feedback:index' %}">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback:add_doctor_profile' %}">
                Add Doctor
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback:add_question' %}">
                Add Question
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback:doctors' %}">
                View Doctors
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback:all_questions' %}">
                View Questions
            </a>
        </li>
    </ul>
</nav>
{% block content %}

{% endblock %}