{% extends "base.html" %}
{% load static %}

{% block content %}
<title>Index</title>
<br>
<div class="row">
	<div class="col-sm-4" style="padding-left: 100px">
	<img src="{% static 'images/iitbblack.jpg' %}" alt="logo" style="width:200px;height:200px;">
	</div>
	<div class="col-sm-4">
	<img src="{% static 'images/main.jpeg' %}" alt="logo" style="width:300px;height:300px;">
	</div>
	<div class="col-sm-4">
	<img src="{% static 'images/iitb-dj.png' %}" alt="logo" style="width:300px;height:200px;">
	</div>
</div>
{% endblock %}