{% extends "base.html" %}

{% block content %}
<title> Questions </title>
<table class="table">
    <tr>
        <td>Question</td>
        <td>Type</td>
        <td>Section</td>
        <td>Status</td>
    </tr>
    {% for question in questions %}
        <tr>
            <td>
                {{ question.description|safe }}
            </td>
            <td>
                {{ question.type }}
            </td>
            <td>
                {{ question.get_section }}
            </td>
            <td>
                <a href="{% url 'feedback:edit_question' question.id %}">
                    Edit
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}